<h2>Welcome to NateTunes</h2>

<h4>Register</h4>
<form action='/users' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>First name:</label>
  <input type='text' name='user[first_name]'></br>
  <label>Last name:</label>
  <input type='text' name='user[last_name]'></br>
  <label>Email:</label>
  <input type='text' name='user[email]'></br>
  <label>Password:</label>
  <input type='password' name='user[password]'></br>
  <input type='submit' value='Register'>
</form>
</br>
</br>

<h4>Login</h4>
<form action='/sessions' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Email:</label>
  <input type='text' name='user[email]'></br>
  <label>Password:</label>
  <input type='password' name='user[password]'></br>
  <input type='submit' value='Log In'>
</form>
